<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>CMS后台管理</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<!-- load css -->
	<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/layui/css/layui.css" media="all">
	<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/global.css" media="all">
	<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/adminstyle.css" media="all">
 
	

</head>

<body>
	<div class="layui-layout layui-layout-admin" id="layui_layout">
		<!-- 顶部区域 -->
		<div class="layui-header header header-demo">
			<div class="layui-main">
				<!-- logo区域 -->
				<div class="admin-logo-box">
					<a class="logo" href="{:url('index/index/index')}" title="logo">管理系统</a>
				</div>
				<div class="larry-side-menu">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</div>
				<!-- 顶级菜单区域 -->
				<div class="layui-larry-menu">
					<ul class="layui-nav clearfix">
						<!-- <li class="layui-nav-item">
							<a href="{:url('admin/index/main')}" target="main">
									<i class="iconfont icon-jiaoseguanli4" data-icon='icon-jiaoseguanli4'></i>
									<span>控制台</span>
								</a>
						</li>
						<li class="layui-nav-item">
							<a href="{:url('admin/products/productsList')}" target="main">
									<i class="iconfont icon-jiaoseguanli4" data-icon='icon-jiaoseguanli4'></i>
									<span>商品列表</span>
								</a>
						</li> -->
						<!-- <li class="layui-nav-item">
							<a href="{:url('admin/orders/ordersForReview')}" target="main"><i class="iconfont icon-ht_expand"></i>订单审核</a>
						</li> -->
					</ul>
				</div>
				<!-- 右侧导航 -->
				<ul class="layui-nav larry-header-item">
					<li class="layui-nav-item">
						{$session_admin['admin']}
					</li>
					<li class="layui-nav-item">
						<a href="{:url('admin/passport/logout')}">
							<i class="iconfont icon-exit"></i>
							退出</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- 左侧侧边导航开始 -->
		<div class="layui-side layui-side-bg layui-larry-side" id="larry-side">
			<div class="layui-side-scroll" id="larry-nav-side" lay-filter="side">

				<!-- 左侧菜单 -->
				<ul class="layui-nav layui-nav-tree">
					<li class="layui-nav-item layui-this">
						<a href="{:url('admin/index/main')}"  target="main" data-url="404.html">
							<i class="iconfont icon-home1" data-icon='icon-home1'></i>
							<span>后台首页</span>
						</a>
					</li>
					<!-- 系统设置 -->
					<li class="layui-nav-item">
						<a href="javascript:;">
							<i class="iconfont icon-shezhi1"></i>
							<span>系统设置</span>
							<em class="layui-nav-more"></em>
						</a>
						<dl class="layui-nav-child">
							<!-- <dd>
								<a href="javascript:;" data-url="personInfo.html">
									<i class="iconfont icon-geren1" data-icon='icon-geren1'></i>
									<span>管理员信息</span>
								</a>
							</dd> -->
							<dd class="laya-nav-child">
								<a href="javascript:;" data-title="修改密码" data-url="{:url('admin/Administrator/editAdmin')}" data-width="450px" data-height="350px">
									<i class="iconfont icon-iconfuzhi01" data-icon='icon-iconfuzhi01'></i>
									<span>修改管理员密码</span>
								</a>
							</dd>
							<!-- 加了 laya-nav-child 就可以应用弹出层了-->
							<dd class="laya-nav-child">
								<a href="javascript:;" data-title="网站设置" data-url="{:url('admin/settings/settingsEdit')}" data-width="450px" data-height="450px">
									<i class="iconfont icon-pinglun1" data-icon='icon-pinglun1'></i>
									<span>网站设置</span>
								</a>
							</dd>
							<!-- 加了 laya-nav-child 就可以应用弹出层了-->
							<dd class="laya-nav-child">
								<a href="javascript:;" data-title="购买限制设置" data-url="{:url('admin/users/limit')}" data-width="550px" data-height="350px">
									<i class="iconfont icon-jiaoseguanli4" data-icon='icon-jiaoseguanli4'></i>
									<span>购买限制</span>
								</a>
							</dd>
							<!-- <dd>
								<a href="javascript:;" data-url="myloginfo.html">
									<i class="iconfont icon-piliangicon" data-icon='icon-piliangicon'></i>
									<span>日志信息</span>
								</a>
							</dd> -->
						</dl>
					</li>
					<!-- 店铺管理 -->
					<li class="layui-nav-item">
						<a href="javascript:;">
							<i class="iconfont icon-30wangzhanguanli1"></i>
							<span>店铺管理</span>
							<em class="layui-nav-more"></em>
						</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="{:url('admin/sellers/sellersList')}" target="main" data-url="404.html">
									<i class="iconfont icon-yonghu1" data-icon='icon-yonghu1'></i>
									<span>店铺列表</span>
								</a>
							</dd>
							
							<dd>
								<a href="{:url('admin/sellers/sellersRestore')}" target="main" data-url="404.html">
									<i class="iconfont icon-quanxian2" data-icon='icon-quanxian2'></i>
									<span>回收站</span>
								</a>
							</dd>
						</dl>
					</li>
					<!-- 商品管理 -->
					<li class="layui-nav-item">
						<a href="javascript:;">
							<i class="iconfont icon-m-members"></i>
							<span>商品管理</span>
							<em class="layui-nav-more"></em>
						</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="{:url('admin/products/productsAdd')}" target="main" data-url="404.html">
									<i class="iconfont icon-zengjia1" data-icon='icon-zengjia1'></i>
									<span>添加商品</span>
								</a>
							</dd>
							<dd>
								<a href="{:url('admin/products/productsList')}" target="main" data-url="404.html">
									<i class="iconfont icon-caidan2"></i>
									<span>商品列表</span>
								</a>
							</dd>
							<dd>
								<a href="{:url('admin/products/productsRestore')}" target="main" data-url="404.html">
									<i class="iconfont icon-iconfonthuishouzhan"></i>
									<span>回收站</span>
								</a>
							</dd>
						</dl>
					</li>	
					<!-- 订单管理 -->
					<li class="layui-nav-item">
						<a href="javascript:;">
							<i class="iconfont icon-wenzhang1"></i>
							<span>订单管理</span>
							<em class="layui-nav-more"></em>
						</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="{:url('admin/orders/ordersAll')}" target="main">
									<i class="iconfont icon-neirong"></i>
									<span>所有订单</span>
								</a>
							</dd>
							<dd>
								<a href="{:url('admin/orders/ordersPending')}" target="main">
									<i class="iconfont icon-caidan1"></i>
									<span>Pending</span>
								</a>
							</dd>
							<dd>
								<a href="{:url('admin/orders/ordersshipped')}" target="main">
									<i class="iconfont icon-dengji5"></i>
									<span>Shipped</span>
								</a>
							</dd>
							<dd>
								<a href="{:url('admin/orders/ordersReceived')}" target="main">
									<i class="iconfont icon-huanyuan"></i>
									<span>Received</span>
								</a>
							</dd>
						</dl>
					</li>	
					<!-- 买家管理 -->
					<li class="layui-nav-item">
						<a href="javascript:;">
							<i class="iconfont icon-jiaoseguanli2"></i>
							<span>买家管理</span>
							<em class="layui-nav-more"></em>
						</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="{:url('admin/users/usersCode')}" target="main" data-url="404.html">
									<i class="iconfont icon-anquanshezhi1" data-icon='icon-anquanshezhi1'></i>
									<span>邀请码</span>
								</a>
							</dd>

							<dd>
								<a href="{:url('admin/users/usersList')}" target="main" data-url="404.html">
									<i class="iconfont icon-yonghu1" data-icon='icon-yonghu1'></i>
									<span>买家列表</span>
								</a>
							</dd>
							
							<dd>
								<a href="{:url('admin/users/usersListBlack')}" target="main" data-url="404.html">
									<i class="iconfont icon-quanxian2" data-icon='icon-quanxian2'></i>
									<span>黑名单</span>
								</a>
							</dd>
						</dl>
					</li>
					<!-- 网站备份 -->
					<li class="layui-nav-item">
						<a href="javascript:;">
							<i class="iconfont icon-shujukuguanli"></i>
							<span>网站备份</span>
							<em class="layui-nav-more"></em>
						</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="{:url('admin/backup/index')}" target="main" data-url="404.html">
									<i class="iconfont icon-anquanshezhi1" data-icon='icon-anquanshezhi1'></i>
									<span>数据库备份</span>
								</a>
							</dd>

							<dd>
								<a href="{:url('admin/users/usersList')}" target="main" data-url="404.html">
									<i class="iconfont icon-yonghu1" data-icon='icon-yonghu1'></i>
									<span>站点资源备份</span>
								</a>
							</dd>
							<dd>
								<!-- 这个是占位置的 -->
								<a href="javascript:;" data-url="404.html"></a>
									<span> </span>
								</a>
							</dd>
						</dl>
					</li>
							
				</ul>
			</div>
		</div>

		<!-- 左侧侧边导航结束 -->
		<!-- 右侧主体内容 -->
		<div class="layui-body" id="larry-body" style="bottom: 0;border-left: solid 2px #2299ee;">
			<div class="layui-tab layui-tab-card larry-tab-box" id="larry-tab" lay-filter="demo" lay-allowclose="true">
				<div class="go-left key-press pressKey" id="titleLeft" title="滚动至最右侧">
					<i class="larry-icon larry-weibiaoti6-copy"></i> 
				</div>
				<div class="layui-tab-content" style="min-height: 150px; ">
					<div class="layui-tab-item layui-show">
						<iframe class="larry-iframe" data-id='0' src="{:url('admin/index/main')}" style="max-height:1500px" name="main" id="main"></iframe>
					</div>
				</div>
			</div>
		</div>
		<!-- 底部区域 -->
		<div class="layui-footer layui-larry-foot" id="larry-footer">
			<div class="layui-mian">
				<p class="p-admin">
					<span>2019 &copy;</span>
					XXXX公司,版权所有
				</p>
			</div>
		</div>
	</div>
	<!-- 加载js文件-->
	<script type="text/javascript" src="__STATIC__/admin/common/layui/layui.js"></script>
	<script type="text/javascript" src="__STATIC__/admin/js/larry.js"></script>
	<script type="text/javascript" src="__STATIC__/admin/js/index.js"></script>
	<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
	<script>
		// 让iframe的高度匹配所在窗口高度
		$(function(){
			function setHeight(){
				var h = $('#larry-body').height()-$('#larry-footer').height();
				$('#main').height(h);
				console.log('h :', h);
			}
			setHeight();
			//窗口大小改变时，执行
			$(window).resize(function () {
				//执行代码块
				setHeight();
			});
		})
	</script>

</body>

</html>