{include file='inc/header'/}
<link rel="stylesheet" href="__CSS__/products-detail.css">
<div class="container index">
    <div class="col-md-8 left">
        <div class="layui-card">
            <div class="layui-card-header">
                <span class="layui-breadcrumb">
                    <a href="/">Home</a>
                    <a href="/index/products/productslist.html">Products</a>
                    <a><cite>{$detail['ASIN']}</cite></a>
                </span>
            </div>
            <div class="layui-card-body">
                <div class="detail">
                    <div class="col-md-4 img-wrapper">
                        <img src="__STATIC__/{$detail['img_url']}" height="280px" max-width="300px" ;
                            alt="{$detail['title']}">
                    </div>
                    <div class="col-md-8">
                        <div class="title">{$detail['title']} </div>
                        <div class="info">
                            $<span class="price">{$detail['price']}</span>
                            <span class="asin">ASIN: {$detail['ASIN']}</span>
                        </div>
                        <div class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate doloremque sit, repellat
                            blanditiis quam deserunt possimus, totam reprehenderit earum debitis, magni eveniet! Fuga
                            neque,
                            soluta in nisi aliquam tenetur architecto!
                        </div>
                        <div class="op">
                            <button data-method="purchase" class="layui-btn layui-btn-lg">Purchase</button>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
    </div>
    <input type="text" style="display:none" id="product_id" value="{$detail['product_id']}">
    <div class="col-md-4 right">
        <div class="layui-card">
            <div class="layui-card-header">本日已购</div>
            <div class="layui-card-body">
                <ul>
                    {volist name="dayPurchase" id="data"}
                    <li class="card-purchased">
                        <div class="img-wrapper">
                            <img src="__STATIC__/{$data.img_url}" alt="">
                        </div>
                        <div class="content">
                            <div class="title">{$data.title}</div>
                            <div class="op">
                                <button data-method="complete" data-arg="{$data.purchased_id}" class="layui-btn  layui-btn-sm">完善订单</button>
                                <button data-method="cancel" data-arg="{$data.purchased_id}" class="layui-btn layui-btn-danger layui-btn-sm">取消订单</button>
                            </div>
                        </div>
                    </li>
                    {/volist}


                </ul>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">本周已购</div>
            <div class="layui-card-body">
                <ul>
                    {volist name="weekPurchase" id="data"}
                    <li class="card-purchased">
                        <div class="img-wrapper">
                            <img src="__STATIC__/{$data.img_url}" alt="">
                        </div>
                        <div class="content">
                            <div class="title">{$data.title}</div>
                            <div class="op">
                                <button class="layui-btn  layui-btn-sm">完善订单</button>
                                <button data-method="cancel" data-arg="{$data.purchased_id}"
                                    class="layui-btn layui-btn-danger layui-btn-sm">取消订单</button>
                            </div>
                        </div>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, voluptatum veritatis
        dolores eligendi quo quod rem veniam soluta, perferendis molestiae animi nostrum atque reiciendis rerum, aperiam
        necessitatibus! Inventore, suscipit aliquid.</div>

</div>
</body>
<script src="__STATIC__/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['element', 'layer'], function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        var $ = layui.jquery,
            layer = layui.layer; //独立版的layer无需执行这一句

        // 监听导航点击, header下面的面包屑路径导航
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });

        //触发事件
        var active = {
            confirmTrans: function () {
                //配置一个透明的询问框
                layer.msg('大部分参数都是可以公用的<br>合理搭配，展示不一样的风格', {
                    time: 20000, //20s后自动关闭
                    btn: ['明白了', '知道了', '哦']
                });
            },
            complete: function (purchased_id) {
                console.log('comp->purchased_id :', purchased_id);
                layer.open({
                    type: 2
                    ,title :'Order-complete'
                    ,area: ['600px', '550px']
                    //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    ,content: '{:url("index/products/orderComplete")}?purchased_id='+purchased_id
                }); 
            },
            purchase: function () {
                layer.open({
                    type: 1,
                    title: false //不显示标题栏
                        ,
                    closeBtn: false,
                    area: '300px;',
                    shade: 0.8,
                    id: 'LAY_layuipro' //设定一个id，防止重复弹出
                        ,
                    btn: ['OK', 'CANCEL'],
                    btnAlign: 'c',
                    moveType: 1 //拖拽模式，0或者1
                        ,
                    content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">Are you sure to add the item to the order?</div>',
                    success: function (layero) {
                        var product_id = $('#product_id').val();
                        var username = "{$shop_user['username']}"
                        var btn = layero.find('.layui-layer-btn');
                        //   btn.find('.layui-layer-btn0').attr({
                        //     href: '{:url("index/products/addPurchased",["product_id"=>'+product_id+', "username"=>'+username+'])}'
                        //     ,target: '_blank'
                        //   });
                        btn.find('.layui-layer-btn0').click(function () {
                            var index = parent.layer.getFrameIndex(window.name);
                            $.ajax({
                                url: '{:url("index/products/addPurchased")}',
                                data: {
                                    "product_id": product_id,
                                    "username": username
                                },
                                success: function (d) {
                                    console.log('d :', d);
                                    // 更新数据后刷新父级页面
                                    if (d) {
                                        layer.msg('下单成功，正在刷新页面');
                                        window.parent.location.reload();
                                    } else {
                                        layer.msg('下单失败，请勿重复下单');
                                    }
                                }
                            })
                        })
                    }
                });
            },
            cancel: function (purchased_id) {
                console.log('purchased_id :', purchased_id);
                layer.open({
                    type: 1,
                    title: false //不显示标题栏
                    ,closeBtn: false,
                    area: '300px;',
                    shade: 0.8,
                    id: 'LAY_layuipro2' //设定一个id，防止重复弹出
                    ,btn: ['OK', 'CANCEL'],
                    btnAlign: 'c',
                    moveType: 1 //拖拽模式，0或者1
                    ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">Are you sure to remove the item to the order?</div>',
                    success: function (layero) {
                        var username = "{$shop_user['username']}"
                        var btn = layero.find('.layui-layer-btn');
                        btn.find('.layui-layer-btn0').click(function () {
                            var index = parent.layer.getFrameIndex(window.name);
                            $.ajax({
                                url: '{:url("index/products/removePurchased")}',
                                data: {
                                    "purchased_id": purchased_id,
                                    "username": username
                                },
                                success: function (d) {
                                    console.log('d :', d);
                                    // 更新数据后刷新父级页面
                                    if (d) {
                                        layer.msg('删除成功，正在刷新页面');
                                        window.parent.location.reload();
                                    } else {
                                        layer.msg('删除失败');
                                    }
                                }
                            })
                        })
                    }
                });
            },
            offset: function (othis) {
                var type = othis.data('type'),
                    text = othis.text();

                layer.open({
                    type: 1,
                    offset: type //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                        ,
                    id: 'layerDemo' + type //防止重复弹出
                        ,
                    content: '<div style="padding: 20px 100px;">' + text + '</div>',
                    btn: '关闭全部',
                    btnAlign: 'c' //按钮居中
                        ,
                    shade: 0 //不显示遮罩
                        ,
                    yes: function () {
                        layer.closeAll();
                    }
                });
            }
        };

        $('.layui-btn').on('click', function () {
            var othis = $(this),
                method = othis.data('method'),
                arg = othis.data('arg');
            console.log('othis :', othis);
            console.log('arg :', arg);
            active[method] ? active[method].call(this, arg) : '';
        });


    });
</script>

</html>