.container .seller{
    display: flex;
    justify-content: center;
    font-size: 44px;
    font-weight: border;
    color: #666;
    margin-bottom: 10px;
}
#demo li {
    margin: 5px;
    display: inline-block;
    height: 280px;
    width: 180px;
    padding: 5px;
    border: white solid 3px;
    background-color: #FFF;
}
#demo li:hover {
    border: red solid 3px;
}
#demo li .img-wrapper {
    /* width: 200px; */
    height: 180px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
}

#demo li .img-wrapper img {
    max-width: 160px;
    height: 180px;
}

.products-list-item .img {
    max-width: 180px;
    height: 180px;
    padding-top: 100%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
}

#demo li .info .price {
    font-size: 20px;
    color: red;
}
#demo li .op  {
    margin-top: -20px;
}
#demo li .op .purchase {
    display: inline-block;
}
#demo li .op i {
    float: right;
    font-size: 30px;
    color: #666;
    cursor: pointer;
}

#demo li .op .layui-icon-rate-solid {
    color: #f00;
}

#demo li .op .product_id {
    display: none;
}

#demo li .info .price .dollar {
    font-size: 18px;
}
#demo li .info .price .asin {
    font-size: 12px;
    color: rgb(56, 55, 55);
    right: 2px;
}
#demo li .info .title {
    font-size: 15px;
    line-height: 16px;
    height: 48px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}