<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>水务</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!-- load css -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/global.css" media="all">
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/adminstyle.css" media="all">


</head>

<body>
    <div class="layui-layout layui-layout-admin" id="layui_layout">
        <!-- 顶部区域 -->
        <div class="layui-header header header-demo">
            <div class="layui-main">
                <!-- logo区域 -->
                <div class="admin-logo-box">
                    <a class="logo" href="#" title="logo">管理系统</a>
                </div>
                <div class="larry-side-menu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                
                <ul class="layui-nav larry-header-item">
                    <li class="layui-nav-item">
			{$session_admin['admin']}
                    </li>
                    <li class="layui-nav-item">
                        <a href="{:url('cb/passport/logout')}">
                            <i class="iconfont icon-exit"></i>
                            退出</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 左侧侧边导航开始 -->
        <div class="layui-side layui-side-bg layui-larry-side" id="larry-side">
            <div class="layui-side-scroll" id="larry-nav-side" lay-filter="side">

                <!-- 左侧菜单 -->
                <ul class="layui-nav layui-nav-tree">
                    <li class="layui-nav-item layui-this">
                        <a href="javascript:;" data-url="p404.html">
                            <i class="iconfont icon-home1" data-icon='icon-home1'></i>
                            <span>后台首页</span>
                        </a>
                    </li>
                    <!-- 流量实时显示 -->
                    <li class="layui-nav-item">
                            <a href="javascript:;">
                                <i class="iconfont icon-a130"></i>
                                <span>流量实时显示</span>
                                <em class="layui-nav-more"></em>
                            </a>
                            <dl class="layui-nav-child">
                                <dd>
                                    <a href="{:url('cb/dcs/dcList')}" target="main" data-url="404.html">
                                        <i class="iconfont icon-caidan" data-icon='icon-caidan'></i>
                                        <span>电池型流量计</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="{:url('cb/dtus/dtuList')}" target="main" data-url="404.html">
                                        <i class="iconfont icon-caidan" data-icon='icon-caidan'></i>
                                        <span>电磁DTU流量计</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="{:url('cb/css/cssList')}" target="main" data-url="404.html">
                                        <i class="iconfont icon-caidan" data-icon='icon-caidan4'></i>
                                        <span>超声波流量计</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;" target="main" data-url="404.html">
                                        <i class="iconfont icon-caidan" data-icon='icon-caidan2'></i>
                                        <span>超声波明渠</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;" target="main" data-url="404.html">
                                        <i class="iconfont icon-caidan" data-icon='icon-caidan3'></i>
                                        <span>普通水表手持机读入</span>
                                    </a>
                                </dd>
                                
                                <dd>
                                    <a href="javascript:;" target="main" data-url="404.html">
                                        <i class="iconfont icon-quanxian2" data-icon='icon-quanxian2'></i>
                                        <span>误删恢复</span>
                                    </a>
                                </dd>
                            </dl>
                        </li>
                        <!-- 数据查询 -->
                        <li class="layui-nav-item">
                            <a href="javascript:;">
                                <i class="iconfont icon-m-members"></i>
                                <span>数据查询</span>
                                <em class="layui-nav-more"></em>
                            </a>
                            <dl class="layui-nav-child">
                                <dd>
                                    <a href="{:url('cb/dccx/dcListMonth')}" target="main" data-url="404.html">
                                        <i class="iconfont icon-neirong" data-icon='icon-neirong'></i>
                                        <span>每月水量查询</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;" target="main" data-url="404.html">
                                        <i class="iconfont icon-dengji4" data-icon='icon-dengji4'></i>
                                        <span>流量计数据查询</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="{:url('cb/dccx/dcList')}" target="main" data-url="404.html">
                                        <i class="iconfont icon-neirong1" data-icon='icon-neirong1'></i>
                                        <span>单块表查询</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;" target="main" data-url="404.html">
                                        <i class="iconfont icon-huanyuan" data-icon='icon-huanyuan'></i>
                                        <span>历史记录查询</span>
                                    </a>
                                </dd>
                            </dl>
                        </li>	
                        <!-- 系统设置 -->
                        <li class="layui-nav-item">
                            <a href="javascript:;">
                                <i class="iconfont icon-shezhi"></i>
                                <span>系统设置</span>
                                <em class="layui-nav-more"></em>
                            </a>
                            <dl class="layui-nav-child">
                                <dd class="laya-nav-child">
                                    <a href="javascript:;" data-title="修改密码" data-url="{:url('cb/Administrator/editAdmin')}" data-width="450px" data-height="350px">
                                        <i class="iconfont icon-iconfuzhi01" data-icon='icon-iconfuzhi01'></i>
                                        <span>修改密码</span>
                                    </a>
                                </dd>
                                {if condition="($role == $datacenter_admin || $role == $datacenter_suadmin) AND  ($company_id == $datacenter)"} 
                                    <dd class="layui-nav-child">
                                        <a href="{:url('cb/company/companyList')}" target="main" data-url="404.html">
                                            <i class="iconfont icon-yonghu1" data-icon='icon-yonghu1'></i>
                                            <span>水司管理</span>
                                        </a>
                                    </dd>
                                {/if}
        
        
                                {if condition="($role != $water_meter_user)"} 
                                    <dd class="layui-nav-child">
                                        <a href="{:url('cb/users/usersList')}" target="main" data-url="404.html">
                                            <i class="iconfont icon-yonghu1" data-icon='icon-yonghu1'></i>
                                            <span>用户管理</span>
                                        </a>
                                    </dd>
                                {/if}

                                <!-- <dd>
                                    <a href="javascript:;" target="main" data-url="404.html">
                                        <i class="iconfont icon-yonghu1" data-icon='icon-yonghu1'></i>
                                        <span>用户权限设置</span>
                                    </a>
                                </dd> -->
                                <dd>
                                    <a href="javascript:;" target="main" data-url="404.html">
                                        <i class="iconfont icon-anquanshezhi"></i>
                                        <span>通信设置</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;" target="main" data-url="404.html">
                                        <i class="iconfont icon-xitongguanli1"></i>
                                        <span>通信协议管理</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;" target="main" data-url="404.html">
                                        <i class="iconfont icon-30wangzhanguanli"></i>
                                        <span>打印输出模板管理</span>
                                    </a>
                                </dd>
                                
                                <dd>
                                    <!-- 这个是占位置的 -->
                                    <a href="javascript:;" data-url="404.html"></a>
                                        <span> </span>
                                    </a>
                                </dd>
                            </dl>
                        </li>
                    <div class="菜单备份">
                        <!-- 业主档案 -->
                        <!-- <li class="layui-nav-item">
                            <a href="javascript:;">
                                <i class="iconfont icon-jiaoseguanli2"></i>
                                <span>业主档案</span>
                                <em class="layui-nav-more"></em>
                            </a>
                            <dl class="layui-nav-child">
                                <dd>
                                    <a href="javascript:;" data-url="p404.html">
                                        <i class="iconfont icon-yonghu1" data-icon='icon-yonghu1'></i>
                                        <span>片区管理</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;" data-url="p404.html">
                                        <i class="iconfont icon-jiaoseguanli4" data-icon='icon-jiaoseguanli4'></i>
                                        <span>集中器设备</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;" data-url="p404.html">
                                        <i class="iconfont icon-quanxian2" data-icon='icon-quanxian2'></i>
                                        <span>采集器设备</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;" data-url="p404.html">
                                        <i class="iconfont icon-quanxian2" data-icon='icon-quanxian2'></i>
                                        <span>业主档案管理</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;" data-url="p404.html">
                                        <i class="iconfont icon-quanxian2" data-icon='icon-quanxian2'></i>
                                        <span>业主换表</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;" data-url="p404.html">
                                        <i class="iconfont icon-quanxian2" data-icon='icon-quanxian2'></i>
                                        <span>业主销表</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;" data-url="p404.html">
                                        <i class="iconfont icon-quanxian2" data-icon='icon-quanxian2'></i>
                                        <span>档案导入/导出</span>
                                    </a>
                                </dd>
                            </dl>
                        </li> -->

                        <!-- 设备管理 -->
                        <!-- <li class="layui-nav-item">
                            <a href="javascript:;">
                                <i class="iconfont icon-wenzhang1"></i>
                                <span>设备管理</span>
                                <em class="layui-nav-more"></em>
                            </a>
                            <dl class="layui-nav-child">
                                <dd>
                                    <a href="javascript:;" data-url="p404.html">
                                        <i class="iconfont icon-lanmuguanli" data-icon='icon-lanmuguanli'></i>
                                        <span>仪表全抄</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-wenzhang2" data-icon='icon-wenzhang2'></i>
                                        <span>仪表批抄</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-icon1" data-icon='icon-icon1'></i>
                                        <span>仪表控制</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-word" data-icon='icon-word'></i>
                                        <span>设备参数设置</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-pinglun1" data-icon='icon-pinglun1'></i>
                                        <span>定时任务设置</span>
                                    </a>
                                </dd>


                            </dl>
                        </li> -->

                        <!-- 手工抄表 -->
                        <!-- <li class="layui-nav-item">
                            <a href="javascript:;">
                                <i class="iconfont icon-m-members"></i>
                                <span>手工抄表</span>
                                <em class="layui-nav-more"></em>
                            </a>
                            <dl class="layui-nav-child">
                                <dd>
                                    <a href="javascript:;" data-url="p404.html">
                                        <i class="iconfont icon-zhuti" data-icon='icon-zhuti'></i>
                                        <span>抄表员管理</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;" data-url="p404.html">
                                        <i class="iconfont icon-zhuti" data-icon='icon-zhuti'></i>
                                        <span>抄表册管理</span>
                                    </a>
                                <dd>
                                    <a href="javascript:;" data-url="p404.html">
                                        <i class="iconfont icon-zhuti" data-icon='icon-zhuti'></i>
                                        <span>手工录入</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;" data-url="p404.html">
                                        <i class="iconfont icon-zhuti" data-icon='icon-zhuti'></i>
                                        <span>人工抄表数据导入</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;" data-url="p404.html">
                                        <i class="iconfont icon-zhuti" data-icon='icon-zhuti'></i>
                                        <span>下载手持机档案</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;" data-url="p404.html">
                                        <i class="iconfont icon-zhuti" data-icon='icon-zhuti'></i>
                                        <span>手持机上传数据</span>
                                    </a>
                                </dd>
                            </dl>
                        </li> -->
                        <!-- 数据结算 -->
                        <!-- <li class="layui-nav-item">
                            <a href="javascript:;">
                                <i class="iconfont icon-shengchengbaogao"></i>
                                <span>结算数据</span>
                                <em class="layui-nav-more"></em>
                            </a>
                            <dl class="layui-nav-child">
                                <dd>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-zhuti" data-icon='icon-zhuti'></i>
                                        <span>数据结算</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="">
                                        <i class="iconfont icon-database" data-icon='icon-database'></i>
                                        <span>结算数据更正</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="">
                                        <i class="iconfont icon-shengchengbaogao" data-icon='icon-shengchengbaogao'></i>
                                        <span>下载手持机档案</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="">
                                        <i class="iconfont icon-qingchuhuancun" data-icon='icon-qingchuhuancun'></i>
                                        <span>获取手持机数据</span>
                                    </a>
                                </dd>

                            </dl>
                        </li> -->
                        <!-- 数据查询 -->
                        <!-- <li class="layui-nav-item">
                            <a href="javascript:;">
                                <i class="iconfont icon-piliangicon"></i>
                                <span>数据查询</span>
                                <em class="layui-nav-more"></em>
                            </a>
                            <dl class="layui-nav-child">
                                <dd>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-zhandianpeizhi" data-icon='icon-zhandianpeizhi'></i>
                                        <span>业主仪表查询</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-zhandianguanli1" data-icon='icon-zhandianguanli1'></i>
                                        <span>集中器/采集器查询</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-anquanshezhi" data-icon='icon-anquanshezhi'></i>
                                        <span>抄表数据查询</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-sms" data-icon='icon-sms'></i>
                                        <span>流量计数据查询</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-iconfuzhi01" data-icon='icon-iconfuzhi01'></i>
                                        <span>未抄回用户查询</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;">
                                        <i class='iconfont icon-SQLServershujuku' data-icon='icon-SQLServershujuku'></i>
                                        <span>用量查询</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;">
                                        <i class='iconfont icon-xinxicaiji' data-icon='icon-xinxicaiji'></i>
                                        <span>动阀记录查询</span>
                                    </a>
                                </dd>
                            </dl>
                        </li> -->
                        <!-- 统计分析 -->
                        <!-- <li class="layui-nav-item">
                            <a href="javascript:;">
                                <i class="iconfont icon-piliangicon"></i>
                                <span>统计分析</span>
                                <em class="layui-nav-more"></em>
                            </a>
                            <dl class="layui-nav-child">

                                <dd>
                                    <a href="javascript:;">
                                        <i class='iconfont icon-xinxicaiji' data-icon='icon-xinxicaiji'></i>
                                        <span>用量统计</span>
                                    </a>
                                </dd>
                            </dl>
                        </li> -->
                    </div>

                </ul>
            </div>
        </div>

        <!-- 左侧侧边导航结束 -->
        <!-- 右侧主体内容 -->
        <div class="layui-body" id="larry-body" style="bottom: 0;border-left: solid 2px #2299ee;">
            <div class="layui-tab layui-tab-card larry-tab-box" id="larry-tab" lay-filter="demo" lay-allowclose="true">
               
                <div class="layui-tab-content" style="min-height: 150px; ">
                    <div class="layui-tab-item layui-show">
                        <iframe class="larry-iframe" data-id='0' name="main" id="main" src="{:url('cb/index/main')}"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部区域 -->
        <div class="layui-footer layui-larry-foot" id="larry-footer">
            <div class="layui-mian">
                <p class="p-admin">
                    <span>2019 &copy;</span>
                    XXXX公司,版权所有
                </p>
            </div>
        </div>
    </div>
    <!-- 加载js文件-->
    <script type="text/javascript" src="__STATIC__/admin/common/layui/layui.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/larry.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/index.js"></script>

</body>
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script>
    // 让iframe的高度匹配所在窗口高度
    $(function () {
        function setHeight() {
            var h = $('#larry-body').height() - $('#larry-footer').height();
            $('#main').height(h);
            console.log('h :', h);
        }
        setHeight();
        //窗口大小改变时，执行
        $(window).resize(function () {
            //执行代码块
            setHeight();
        });
    })
</script>

</html>
