{include file='inc/header'/}
    <div class="container index">
        <div class="col-md-1"></div>
        <div class="col-md-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto vero qui quae perferendis
            dolorem, praesentium dignissimos nemo nobis aliquam laudantium cupiditate magnam sint quasi illum? Illo, autem.
            Cumque, mollitia rem?</div>
        <div class="col-md-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, voluptatum veritatis
            dolores eligendi quo quod rem veniam soluta, perferendis molestiae animi nostrum atque reiciendis rerum, aperiam
            necessitatibus! Inventore, suscipit aliquid.</div>
        <div class="col-md-1"></div>
    </div>
</body>

</html>