<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>水表列表</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all">
</head>

<body style="padding:5px">

    <blockquote class="layui-elem-quote layui-quote-nm">流量实时显示 / 电池型流量计

        <button class="laya-btn layui-btn layui-btn-sm" id="add" data-method="add">
            <i class="layui-icon">&#xe608;</i> Add
        </button>
        <!-- <button class="laya-btn layui-btn layui-btn-xs" id="batchDel" data-method="batchDel" data-arg="">
        <i class="layui-icon layui-icon-delete"></i> Delete
    </button> -->

        <form class="layui-form" style="position:absolute; right: 0px; top: 16px">
            <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" name="keywords" id="keywords" placeholder="ID | 位置" autocomplete="off"
                        class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <button class="layui-btn" lay-submit lay-filter="search_submit">Search</button>
                </div>
            </div>
        </form>

    </blockquote>
    <table id="demo" lay-filter="test" style="margin-top:-15px"></table>
    <script src="__STATIC__/js/jquery.min.js"></script>
    <script src="__STATIC__/layui/layui.js"></script>
    <script>
        layui.use(['table', 'form', ], function () {
            var table = layui.table;
            var form = layui.form;
            //第一个实例
            table.render({
                elem: '#demo', // ,height: 312
                url: '{:url("cb/dcs/tableData")}', //数据接口
                height: 'full-80', // 高度最大化减去差值
                page: { // 支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                    layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
                    curr: 1, //设定初始在第 5 页
                    limit: 10, //一页显示多少条
                    limits: [10, 20, 50], //每页条数的选择项
                    groups: 3 //只显示 2 个连续页码
                },
                cols: [
                    [ //表头
                        {
                            type: 'checkbox',
                            fixed: 'left'
                        }, {
                            field: 'online',
                            title: '在线',
                        }, {
                            field: 'ADDRESS',
                            title: '地址',
                        }, {
                            field: 'NAME',
                            title: '名称',
                        }
                        , {
                            field: 'FLOW',
                            title: '瞬时流量',
                        }
                        , {
                            field: 'SPEED',
                            title: '瞬时流速',
                        }
                        , {
                            field: 'FTOTAL',
                            title: '正向累积',
                        }
                        , {
                            field: 'RTOTAL',
                            title: '反向累积',
                        }
                        
                        , {
                            field: 'TUB',
                            title: '电导比',
                        }
                        , {
                            field: 'ALARM',
                            title: '空管报警',
                        }
                        , {
                            field: 'CSQ',
                            title: '信号强度',
                        }
                        , {
                            field: 'TIME',
                            title: '时间',
                        }
                        , {
                            field: 'PRESS',
                            title: '压力',
                        },
                        {
                            field: 'location',
                            title: '位置',
                        }, {
                            fixed: 'right',
                            title: 'Operation',
                            toolbar: '#barDemo',
                            width: 150
                        }
                    ]
                ],
                id: 'idTest'
            });

            var active = {
                // 添加水表
                add: function () {
                        layer.open({
                            type: 2,
                            title: '添加水表',
                            area: ['360px', '300px'],
                            //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                            content: "{:url('cb/dcs/dcAdd')}"
                        });
                    },

                // 批量删除
                batchDel: function () {
                    var checkStatus = table.checkStatus('idTest'),
                        data = checkStatus.data,
                        delList = [];
                    data.forEach(function (n, i) {
                        delList.push(n.seller_id);
                    });
                    console.log('delList :', delList);
                    if (delList != '') {
                        layer.confirm('确定删除所选项吗？', function (index) {
                            $.ajax({
                                url: '{:url("cb/dcs/delDc")}',
                                type: 'post',
                                dataType: 'json',
                                data: "seller_id=" + delList,
                                success: function (code, statusText) {
                                    console.log('code :', code);
                                    if (code !== '0') {
                                        layer.msg('成功删除了' + code + '个水表');
                                        table.reload('idTest', {});
                                    } else {
                                        layer.msg('删除失败');
                                    }
                                },
                                'error': function () {
                                    layer.msg('系统错误');
                                }
                            })
                        })
                    } else {
                        layer.tips('请选择需要删除的行', $('#batchDel'), {
                            tips: [3, '#5fb878']
                        })
                    }
                }
            }


            $('.laya-btn').on('click', function () {
                var othis = $(this),
                    method = othis.data('method'),
                    arg = othis.data('arg');
                console.log('othis :', othis);
                console.log('arg :', arg);
                active[method] ? active[method].call(this, arg) : '';
            });

            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data; // 改行的一个数据对象
                console.log(data)
                // 删除单条水表数据
                if (obj.event === 'del') {
                    layer.confirm('Do you really want to delete it?', function (index) {
                        $.ajax({
                            url: "{:url('cb/dcs/delDc')}",
                            type: 'POST',
                            data: {
                                id: data.id
                            },
                            success: function (d) {
                                if (d) {
                                    layer.close(index);
                                    table.reload('idTest', {});
                                } else {
                                    layer.msg('Delete failed');
                                }
                            }
                        })
                    });
                    // 编辑单条水表数据
                } else if (obj.event === 'edit') {
                    console.log('seller_id :', data.seller_id);
                    layer.open({
                        type: 2,
                        title: 'Edit-seller',
                        area: ['450px', '250px'],
                        //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                        content: '{:url("cb/dcs/dcEdit")}?id=' + data.id
                    });
                }
            });

            // 监听搜索提交
            form.on('submit(search_submit)', function (data) {
                // console.log('data :', data);
                // layer.msg(JSON.stringify(data.field));
                var keywords = data.field.keywords;
                table.reload('idTest', {
                    where: {
                        keywords: keywords
                    }
                });

                return false;
            });

            function reload(){
                var keywords = $('#keywords').val();
                table.reload('idTest', {
                    where: {
                        keywords: keywords
                    }
                });
            }
            // reload();
            setInterval(reload,30000);

        });
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">Edit</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">Delete</a>
    </script>
</body>

</html>