{include file='inc/header'/}

<div class="login-main">
    <header class="layui-elip">LOGIN</header>
    <form class="layui-form">
        <div class="layui-input-inline">
            <input type="text" name="account" required lay-verify="required" placeholder="Username / Email" autocomplete="off"
                class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="password" name="password" required lay-verify="required" placeholder="Password" autocomplete="off"
                class="layui-input">
        </div>
        <div class="layui-input-inline login-btn">
            <button lay-submit lay-filter="login" class="layui-btn">Sign in</button>
        </div>
        <hr />
        <!--<div class="layui-input-inline">
                <button type="button" class="layui-btn layui-btn-primary">QQ登录</button>
            </div>
            <div class="layui-input-inline">
                <button type="button" class="layui-btn layui-btn-normal">微信登录</button>
            </div>-->
        <p><a href="register.html" class="fl">Sign up</a><a href="javascript:;" class="fr">Forget the password?</a></p>
    </form>
</div>

<script src="__STATIC__/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['form', 'layer', 'jquery'], function () {

        // 操作对象
        var form = layui.form;
        var $ = layui.jquery;
        form.on('submit(login)', function (data) {
            // console.log(data.field);
            $.ajax({
                url: 'login.php',
                data: data.field,
                dataType: 'text',
                type: 'post',
                success: function (data) {
                    if (data == '1') {
                        location.href = "../index.php";
                    } else {
                        layer.msg('登录名或密码错误');
                    }
                }
            })
            return false;
        })

    });
</script>