{include file='inc/header'/}

<div class="container">
    <span id="msg" style="font-size: 22px; color:cornsilk">
        
    </span>
</div>
</body>
<script src="__STATIC__/js/jquery.min.js"></script>
<script>
    function reurl() {
        if ("{$status}" == 1) {
            window.location = "{:url('index/index/index')}";
        } else {
            window.history.go(-1);
        }
    }
    setTimeout(reurl, 3000);
    $(function () {
        if ("{$status}" == 1) {
            $('#msg').text(
                '{$post},Congratulations on your successful registration. You are turning to the home page.'
                )
        } else {
            $('#msg').text('{$post},Please re-registe')
        }

    })
</script>

</html>