{include file='inc/header'/}
<link rel="stylesheet" href="__CSS__/login.css">

<div class="login-main">
    <header class="layui-elip">LOGIN</header>
    <form class="layui-form">
        <div class="layui-input-inline">
            <input type="text" name="account" required lay-verify="required" placeholder="Username / Email" autocomplete="off"
                class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="password" name="password" required lay-verify="required" placeholder="Password" autocomplete="off"
                class="layui-input">
        </div>
        <div class="layui-input-inline login-btn">
            <button lay-submit lay-filter="login" class="layui-btn">Sign in</button>
        </div>
        <hr />
        <p><a href="signUp" class="fl">Sign up</a><a href="javascript:;" class="fr">Forget the password?</a></p>
    </form>
</div>

<script src="__STATIC__/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['form', 'layer', 'jquery'], function () {

        // 操作对象
        var form = layui.form;
        var $ = layui.jquery;
        form.on('submit(login)', function (data) {
            console.log('data.field: ',data.field);
            $.ajax({
                url: 'signIn',
                data: data.field,
                dataType: 'text',
                type: 'post',
                success: function (data) {
                    console.log('data :', data);
                    if (data == '1') {
                        // location.href = "{:url('index/index/index')}";
                    } else {
                        layer.msg('Account or password error!');
                    }
                }
            })
            return false;
        })

    });
</script>