<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>商品列表</title>
  <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all">
</head>
<style>
  .layui-form-item .layui-input-inline {
      float: left;
      width: 250px;
      margin-right: 4px;
  }
  .layui-input-inline.search {
    width: 90px;
  }
  input::-webkit-input-placeholder {
      /* placeholder颜色  */
      color: #caced4;
      /* placeholder字体大小  */
      font-size: 12px;
      /* placeholder位置  */
      text-align: left;
  }
</style>
<body style="padding:5px">

  <blockquote class="layui-elem-quote layui-quote-nm">商品管理 / 商品列表
    <i class="laya-btn layui-icon layui-icon-delete" id="batchDel" data-method="batchDel" data-arg=""
      style="font-size: 30px; color: rgb(255, 30, 30); position:absolute; left: 150px; top: 20px; cursor: pointer;"></i>
    <form class="layui-form" style="position:absolute; right: 0px; top: 13px">
      <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
      <div class="layui-form-item">
        <div class="layui-input-inline">
          <input type="text" name="keywords" placeholder="Title | ASIN | Seller" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-input-inline search">
          <button class="layui-btn" lay-submit lay-filter="search_submit">Search</button>
        </div>
      </div>
    </form>

  </blockquote>
  <table id="demo" lay-filter="test" style="margin-top:-15px"></table>
  <script src="__STATIC__/js/jquery.min.js"></script>
  <script src="__STATIC__/layui/layui.js"></script>
  <script>
    layui.use(['table', 'form', ], function () {
      var table = layui.table;
      var form = layui.form;
      //第一个实例
      table.render({
        elem: '#demo',// ,height: 312
        url: '{:url("admin/products/tableData")}', //数据接口
        height: 'full-80', // 高度最大化减去差值
        page: { // 支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
          layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
          curr: 1, //设定初始在第 5 页
          limit: 10, //一页显示多少条
          limits: [10, 50, 500,], //每页条数的选择项
          groups: 3 //只显示 2 个连续页码
        },
        cols: [
          [ //表头
            {
              type: 'checkbox',
              fixed: 'left'
            }, {
              field: 'product_id',
              title: 'ID',
              width: 70,
              sort: true,
              fixed: 'left'
            }, {
              field: 'title',
              title: 'Title',
            }, {
              field: 'price',
              title: 'Price',
              width: 80,
              align: 'right',
              sort: true
            }, {
              field: 'quantity',
              title: 'Quantity',
              width: 100,
              align: 'center',
              sort: true
            }, {
              field: 'ASIN',
              title: 'ASIN',
              width: 120
            }, {
              field: 'seller_name',
              title: 'Seller',
              width: 120
            }, {
              field: 'create_time',
              title: 'Create time',
              width: 160
            }, {
              fixed: 'right',
              title: 'Operation',
              toolbar: '#barDemo',
              width: 120
            }
          ]
        ],
        id: 'idTest'
      });

      var active = {
        // 批量删除
        batchDel: function () {
          var checkStatus = table.checkStatus('idTest'),
            data = checkStatus.data,
            delList = [];
          data.forEach(function (n, i) {
            delList.push(n.product_id);
          });
          console.log('delList :', delList);
          if (delList != '') {
            layer.confirm('确定删除所选项吗？', function (index) {
              $.ajax({ 
                url: '{:url("admin/products/delProduct")}',
                type: 'post',
                dataType: 'json',
                data: "product_id=" + delList,
                success: function (code, statusText) {
                  console.log('code :', code);
                  if (code !== '0') {
                    layer.msg('成功删除了' + code + '个商品');
                    table.reload('idTest', {});
                  } else {
                    layer.msg('删除失败');
                  }
                },
                'error': function () {
                  layer.msg('系统错误');
                }
              })
            })
          } else {
            layer.tips('请选择需要删除的行', $('#batchDel'), {
              tips: [3, '#5fb878']
            })
          }
        }
      }


      $('.laya-btn').on('click', function () {
        var othis = $(this),
          method = othis.data('method'),
          arg = othis.data('arg');
        console.log('othis :', othis);
        console.log('arg :', arg);
        active[method] ? active[method].call(this, arg) : '';
      });

      //监听行工具事件
      table.on('tool(test)', function (obj) {
        var data = obj.data; // 改行的一个数据对象
        console.log(data)
        // 删除单条商品数据
        if (obj.event === 'del') {
          layer.confirm('Do you really want to delete it?', function (index) {
            $.ajax({
              url: "{:url('admin/products/delProduct')}",
              type: 'POST',
              data: {
                product_id: data.product_id
              },
              success: function (d) {
                if (d) {
                  layer.close(index);
                  table.reload('idTest', {});
                } else {
                  layer.msg('Delete failed');
                }
              }
            })
          });
        // 编辑单条商品数据
        } else if (obj.event === 'edit') {
          layer.open({
            type: 2,
            title: 'Edit-product',
            area: ['700px', '550px'],
            //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
            content: '{:url("admin/products/productsEdit")}?product_id=' + data.product_id
          });
        }
      });

      // 监听搜索提交
      form.on('submit(search_submit)', function (data) {
        // console.log('data :', data);
        // layer.msg(JSON.stringify(data.field));
        var keywords = data.field.keywords;
        table.reload('idTest', {
          where: {
            keywords: keywords
          }
        });

        return false;
      });

    });
  </script>
  <script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">Edit</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">Delete</a>
  </script>
</body>

</html>