<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="__STATIC__\layui\css\layui.css">
	<link rel="stylesheet" href="__CSS__\product-add.css">
	<title>product add</title>
</head>

<body style="padding:5px">
	<blockquote class="layui-elem-quote layui-quote-nm">
		商品管理 / 添加商品
	</blockquote>
	<form class="layui-form" lay-filter='test' action="">

		<div class="layui-form-item">
			<label class="layui-form-label">Title</label>
			<div class="layui-input-block">
				<input type="text" name="title" lay-verify="required" placeholder="" autocomplete="off"
					class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">Seller</label>
				<div class="layui-input-inline">
					<select name="seller_id" lay-verify="required">
						<option>Please chose</option>//加上这一行，先占个坑
						{volist name="sellers" id="seller"}
						<option value="{$seller['seller_id']}">{$seller['seller_id']}：{$seller['seller_name']}</option>
						{/volist}
					</select>
				</div>

				<div class="layui-form-mid layui-word-aux">
					No desired option?
					<a class="laya-btn layui-btn layui-btn-sm layui-btn-warm" data-title="Add a Seller"
						data-url="{:url('admin/sellers/sellersAdd')}" data-width="350px" data-height="250px">
						Click here to add one
					</a>
				</div>
			</div>
		</div>
		<div class="layui-form-item">

			<div class="layui-inline">
				<label class="layui-form-label">Price</label>
				<div class="layui-input-inline">
					<input class="layui-input newsAuthor" lay-verify="required|number" placeholder="$" type="text"
						name="price"  autocomplete="off">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">ASIN</label>
				<div class="layui-input-inline">
					<input class="layui-input newsAuthor" lay-verify="required" placeholder="" type="text" name="ASIN" autocomplete="off">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">Quantity</label>
				<div class="layui-input-inline">
					<input class="layui-input newsAuthor" lay-verify="required|number" placeholder="" type="text"
						name="quantity" autocomplete="off">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">Image</label>
			<!-- 点击上传图片 -->
			<div class="layui-input-block laya-img">
				
				<div class="layui-input-inline" id="cover1">
					<div class="op"><i class="layui-icon layui-icon-close-fill"></i></div>
					<input type="text" name="img_url">
					<img src="__STATIC__/imgs/blank.jpg">
				</div>
				<div class="layui-input-inline" id="cover2">
					<div class="op"><i class="layui-icon layui-icon-close-fill"></i></div>
					<input type="text" name="img_url2">
					<img src="__STATIC__/imgs/blank.jpg">
				</div>
				<div class="layui-input-inline" id="cover3">
					<div class="op"><i class="layui-icon layui-icon-close-fill"></i></div>
					<input type="text" name="img_url3">
					<img src="__STATIC__/imgs/blank.jpg">
				</div>
				<div class="layui-input-inline" id="cover4">
					<div class="op"><i class="layui-icon layui-icon-close-fill"></i></div>
					<input type="text" name="img_url4">
					<img src="__STATIC__/imgs/blank.jpg">
				</div>
				<div class="layui-input-inline" id="cover5">
					<div class="op"><i class="layui-icon layui-icon-close-fill"></i></div>
					<input type="text" name="img_url5">
					<img src="__STATIC__/imgs/blank.jpg">
				</div>
				<div class="layui-input-inline" id="cover6">
					<div class="op"><i class="layui-icon layui-icon-close-fill"></i></div>
					<input type="text" name="img_url6">
					<img src="__STATIC__/imgs/blank.jpg">
				</div>
				<div class="layui-input-inline" id="cover7">
					<div class="op"><i class="layui-icon layui-icon-close-fill"></i></div>
					<input type="text" name="img_url7">
					<img src="__STATIC__/imgs/blank.jpg">
				</div>
			</div>


		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">Description</label>
			<div class="layui-input-block">
				<textarea placeholder="" class="layui-textarea" id='description' name="description" style="display: none"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="submit" id="submit">Submit</button>
				<button type="reset" class="layui-btn layui-btn-primary">Reset</button>
			</div>
		</div>
	</form>
</body>

</html>



<script src="__STATIC__/layui/layui.js"></script>
<script>
	layui.use(['upload', 'form', 'layer', 'element', 'layedit'], function () {
		var form = layui.form;
		window.layer = layui.layer;
		//各种基于事件的操作，下面会有进一步介绍
		var loading;
		var upload = layui.upload;
		var $ = layui.jquery;
        var layedit = layui.layedit;

        //构建一个默认的编辑器
        var index = layedit.build('description', {
                tool: ['face', 'link', 'unlink', '|', 'left', 'center', 'right']
                ,height: 100
            });
		// 点击删除图片
		$('.op').click(function(e){
			// 阻止冒泡
			window.event? window.event.cancelBubble = true : e.stopPropagation();
			// 获取该元素相邻input的内容（上传图片时填进去的图片地址）
			var item = $(this).parent();
			var path = item.find('input').val();
            if(!path) return 'dump'; // path为空时不跳出不发送请求
			// 请求接口删除图片
			$.ajax({
				url:'./delImg',
				data:{
					path:path,
				},
				success:function(res){
					if(res.code){
						// 删除成功后执行...
						// 清除图片预览和隐藏的input值
						item.find('img').attr('src','__STATIC__/imgs/blank.jpg');
						item.find('input').val('');
						return 'ok';
					}
					return layer.msg(res.msg);
				}
			})
		})


		// 连续设置多张图片的上传功能
		for(i=1;i<=7;i++){
			uploadImg('#cover'+i)
		}

		// 上传图片方法
		function uploadImg(el) {
			upload.render({
				elem: el,
				url: '{:url("admin/products/uploadImg")}',
				accept: 'file' // 允许上传的文件类型
					,
				auto: true // 自动上传
					,
				before: function (obj) {
						// 上传等待loading动画
						loading = layer.load(2);
						// 在上传图片的过程中不能点提交按钮
						$('#submit').addClass('layui-btn-disabled');
						// 预览
						obj.preview(function (index, file, result) {
							$(el+' img').attr('src', result); //图片链接 base64
						});
						// layer.load();
					}
					// 上传成功回调
					,
				done: function (res) {
						// 关闭loading动画
						layer.close(loading);
						// 如果先前已有上传的图片，则先删除，节省空间
						var path = $(el+' input').val();
						if(path){
							// 请求接口删除图片
							$.ajax({
								url:'./delImg',
								data:{
									path:path,
								}
							})
						}
						// 在隐藏的input里面填写上传的图片地址
						$(el+' input').val(res.savename);
						// 获取到图片地址后可以继续提交
						$('#submit').removeClass('layui-btn-disabled');
						if (res.code == 0) {
							return layer.msg(res.msg);
						}
						return 'layer.msg(res.msg)';
					}
					// 上传失败回调
					,
				error: function (res) {
					return layer.msg(res.msg);
				}

			});
		}


		// 点击出现layer
		$('.laya-btn').on('click', function () {
			var othis = $(this),
				width = othis.data('width'),
				height = othis.data('height'),
				title = othis.data('title'),
				url = othis.data('url');
			layer.open({
				type: 2,
				shadeClose: true,
				title: title,
				area: [width, height],
				//这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
				content: url,
				end: function (d) {
					console.log('333 :', d);

					// 页面重载并传递一个get参数，用于判断是转跳还是当前刷新
					window.location.href = "{:url('admin/products/productsAdd')}?reload=true";
					if (window.localStorage) {
						window.localStorage.setItem('addProduct', '{"title":"' + $(
							"[name=title]").val() + '"}')
					}
				}
			});
		});

		// =======表单信息读取（刷新页面后保留表单内容）=========
		function getQueryString(name) { // 获取get参数
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
			var r = window.location.search.substr(1).match(reg);
			if (r != null) return unescape(r[2]);
			return null;
		}
		if (window.localStorage && getQueryString('reload')) {
			var data = JSON.parse(window.localStorage.getItem('addProduct'));
			$('[name=title]').val(data.title);
		}


		// ========表单提交==========================================
		form.on('submit(submit)', function (data) {
			// 注layui自带的富文本编辑器的内容并不会自动加到data.field里面
			data.field.description = layedit.getContent(index);
			$.ajax({
				url: './addItem',
				method: 'post',
				data: data.field,
				dataType: 'JSON',
				success: function (d) {
					if (d.code) {
						var message = d.msg + ' Add another one?';
						layer.confirm(message, {
							icon: 1,
							title: 'Tips'
						}, function (index) {
							//submitForm();  
							layer.close(index);
							window.location.reload();
						},  function (index) {
							layer.close(index);
							window.location.href = './productsList';
						});
					} else {
						return layer.msg(d.msg, {
							icon: 2,
							time: 2000
						});
					}
				},
				error: function (data) {

				}
			});
			return false;
		});
	});
</script>